*{
   margin: 0;
   padding: 0;
}

body{
   font-family: "Josefin Sans", sans-serif;
}

.cabecalho{
   background-color: rgb(46, 57, 69);
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}

.imagem-cabecalho{
   width: 5%;
}

.cabecalho-item{
   display: inline-block;
   margin: 0  16px;
   font-size: 24px;
}

.princesas-imagem{
   width: 55%;
}

.header-todas{
   display: grid;
   grid-template-columns: 50% 50%;
}

.Personagens{
   background-image: linear-gradient(#e40b8a,#ff009573);
   color: white;
   display: grid;
   grid-template-columns: 50% 50%;
   padding: 24px 100px;
}

.conteudo{
   width: 35%;
}
.Personagens-titulo{
   padding: 24px 0px;
}

.princesa-imagem{
   width: 120px;
   height: 213px;
}

.princesa-icone{
   width: 24px;
   padding: 4px 8px;
}

.princesa-div{
   text-align: center;
   padding: 16px 0px;
}

.princesas-todas{
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
}

.Personagens-titulo{
   text-align: center;
   padding: 24px 0;
}

<footer class="rodape">
    <img class="rodape-imagem"src="alurastart logo.png" alt="logo da alura start">
</footer>

.rodape{
   background-color: black;
   text-align: center;
}